.container{
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    width: 70%;
}
.quoteBox{
    font-family: 'Raleway', sans-serif;
    border-left: 8px solid #F7DF94;
    padding-left: 20px;
    font-size: 32px;
}
.quoteAuthor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    border: none;
    background-color: transparent;
    padding: 14px;
    font-weight: 700;
    font-size: 18px;
    color: #4f4f4f;
    text-decoration: none;
    transition: background-color 330ms ease-in;
}
.quoteAuthor div{
    display: flex;
    flex-direction: column;
    padding: 0;
}
.quoteAuthor span{
    color: transparent;
}
.quoteAuthor div small{
    color: #828282;
    padding-top: 8px;
    font-size: 12px;
    text-align: start;
}
.quoteAuthor:hover{
    cursor: pointer;
    background-color: #333333;
    color: #f2f2f2;
}
.quoteAuthor:hover span{
    color: #f2f2f2;
}