*{box-sizing: border-box;}
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}
#root{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body{
  padding: 5vh 15%;
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav div{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  gap: 10px;
}
.btn{
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  border: none;
  cursor: pointer;
  padding: 10px;
}
.btn-white{
  margin-left: auto;
  background-color:#fff;
}
.btn-white span{
  font-size: 14px;
  margin-left: 10px;
}
.btn-arrow{
  background-color: #fff;
}
footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #a9a9a9;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}